.my-app {
    &__auth {
        width: 450px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 100vh;

        .card {
            width: 100%;
        }
    }
}