.my-app-layout {
    overflow: auto;
    display: flex;
    justify-content: space-between;

    &__header {
        width: 250px;
        background-color: var(--white-custom-1);
        background-color: #5b76b4 !important;
        border-color: #5b76b4 !important;
        min-height: 100vh;
        color: var(--white-custom-1);
        box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024, 0px 1px 5px 0px #0000001f;

        .my-app-nav {

            &__logo {
                min-height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid #adb5bda6;
                margin-bottom: 20px;

                img {
                    object-fit: cover;
                }
            }

            a {
                color: var(--white-custom-1);
                font-weight: 500;
                font-size: 14px;
                height: 56px;
                border-bottom-right-radius: 32px !important;
                border-top-right-radius: 32px !important;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                &.active,
                &:hover {
                    background-color: #7e98d4;
                }
            }
        }
    }

    &__main {
        width: calc(100% - 280px);
        margin: 30px;
        .content {
            width: 100%;
            background-color: var(--white-custom-1);
            min-height: 500px;
            box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024, 0px 1px 5px 0px #0000001f;
            border-radius: 4px;
            padding: 25px;

            .my-app-page  {
                &__header {
                    h3 {
                        font-size: 18px;
                        padding: 10px;
                        border-bottom: 1px solid #ccc;
                    }
                    
                }
            }
        }
        
    }
}