$theme-colors: (
  "primary": #5b76b4
);

@import '~bootstrap/scss/bootstrap.scss';
@import "~react-datepicker/dist/react-datepicker.css";
@import './components/index';

:root {
  --white-custom-1: #fff;
  --res-custom-1: #e03a3a;
  --grey-custom-1: #c2c7d0;
  --grey-custom-2: #dcdcdd;
  --blue-custom-1: #1976d2;
}

body  {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans CJK JP', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4E5358;
  font-size: 14px;
  -webkit-overflow-scrolling: auto;
 
  .my-app {
    background: url('../assets/bg.svg') 0% 0% no-repeat padding-box;
    font-family: 'Noto Sans CJK JP', Arial, sans-serif;
    color: #4E5358;
    background-size: cover;
    height: 100%;
    -webkit-overflow-scrolling: auto;
    min-height: 100vh;
  }
  
  h3,
  h4,
  h5,
  p,
  span,
  li {
    color: #4E5358;
  }
}

.text-link {
  color: var(--blue-custom-1);
  cursor: pointer;
}

.required::after {
  content: "※";
  padding-left: 8px;
  color: var(--res-custom-1);
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  position: absolute;
  font-family: "Roboto", sans-serif;
}

.max-w {
  &-md {
    max-width: 300px;
  }
}
